body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    text-align: center;
}

h1 {
    color: #333;
    flex-grow: 1; /* Заголовок занимает доступное пространство */
    text-align: center;
}

#login_but {
    margin-left: auto;
    background: transparent; /* Прозрачный фон */
    border: none; /* Убираем границы */
    padding: 0;
    cursor: pointer;
}

.bi-person-circle {
    font-size: 32px;
}

.quiz-link {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #444;
    margin: 10px 0;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s, transform 0.3s;
    width: 400px;
    height: 56.8px;
    margin: 15px auto;
}

.quiz-link.create {
    border: 3px solid #e0e0e0;
}

.quiz-title {
    font-size: 18px;
    font-weight: bold;
}

.quiz-link:hover {
    background-color: #e0e0e0;
    transform: scale(1.05);
}

.img-title {
    display: flex; /* Align items in a row */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
}

.quiz-icon {
    width: 24px; /* Set a desired width */
    height: 24px; /* Set a desired height */
    margin-right: 8px; /* Add some space between the image and the text */
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete {
    max-height: 25px;
    background-color: #ed7777;
    border-radius: 5px 5px 5px 5px;
    cursor:pointer;
}

.delete:hover {
    background-color: #c45555;
}

.edit {
    max-height: 25px;
    background-color: #77c2ed;
    border-radius: 5px 5px 5px 5px;
    cursor:pointer;
}

.edit:hover {
    background-color: #4889af;
}